.cam {
  width: 800px;
  position: absolute;
  left: 200px;
}

.emoji {
  &__player {
    position: relative;
    left: 780px;
    top: 50px;
    height: 100px;
  }
  &__machine {
    // position: absolute;
    height: 100px;
  }
}

.game {
  &__outcome {
    position: absolute;
    bottom: 170px;
    left: 580px;
  }
}
