.cam {
  width: 800px;
  position: absolute;
  left: 200px;
}

.game {
  &__outcome {
    position: absolute;
    bottom: 170px;
    left: 580px;
    font-size: 1.5rem;
  }
}

.history {
  position: absolute;
  bottom: 300px;

  &__item {
    list-style: none;
  }
}

.user {
  &__history {
    &-emoji {
      height: 20px;
    }
  }
}

.level {
  &__response {
  }
}
