.game {
  // background-image: url("../../assets/GameScreenBackdrop.png");
  // background-position: center;
  // background-size: cover;
  &__level {
    text-align: center;
    padding: 1rem;
  }

  &__title {
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
}
